:root {
    --green-tint: #f0fff0;
}
div {
    text-align: center;
}
button {
    border-radius: 12px;
    color: green;
    background-color: var(--green-tint);
    border: var(--green-tint);
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 500;
    margin: 1px;
}
* {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 500;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#outerContainer {
    display: flex;
    flex-direction: column;
}
#shop {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    margin: 25px;
}
#grass {
    margin: 25px;
}
#score {
    font-size: xxx-large;
    background-color: var(--green-tint);
    border-radius: 12px;
    border: var(--green-tint);
    color: #3c4043;
    margin: 1px;
}
#shopTxt {
    background-color: var(--green-tint);
    border-radius: 12px;
    border: var(--green-tint);
    color: #3c4043;
    margin: 1px;
}
#navbar {
    display: flex;
}
.navbarBtn {
    background-color: var(--green-tint);
    color: black;
    padding: 10px;
}
.itemContainer {
    display: flex;
}
.textDiv {
    font-size: xxx-large;
    background-color: var(--green-tint);
    border-radius: 12px;
    border: var(--green-tint);
    color: #3c4043;
    flex: 1 1 0%;
    width: 84px;
}
.shopBtn {
    width: 182px;
}
.dropbtn {
    background-color: #04aa6d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
