body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-image: url(./P1210629.avif);
  background-size: 100vw;
  background-repeat: no-repeat;
}

footer {
  text-align: end;
  position: fixed;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
  background-color: rgba(192, 192, 192, 0.3);
  border-radius: 12px;
  padding: 6px;
  margin: 6px;
  width: max-content;
}

footer span {
  font-size: x-small;
}

img {
  width: 320px;
}

.vakh3 {
  margin-top: 6px;
  margin-bottom: 3px;
}

.vakh5 {
  margin-top: 3px;
  margin-bottom: 6px;
}

:link {
  color: aquamarine;
}

:visited {
  color: aquamarine;
}

.transparent {
  backdrop-filter: blur(4px);
  background-color: rgba(192, 192, 192, 0.3);
  border-radius: 12px;
  padding: 6px;
  margin: 6px;
  width: max-content;
  vertical-align: middle;
}

.vak {
  text-align: start;
  width: 33vw;
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grade {
  width: 5vh;
  height: 5vh;
  font-size: xx-large;
  text-align: center;
  margin: 1vh;
  backdrop-filter: blur(4px);
  background-color: rgba(192, 192, 192, 0.3);
  border-radius: 12px;
  padding: 6px;
  width: max-content;
  vertical-align: middle;
}

#title {
  vertical-align: middle;
  text-align: center;
  font-size: 10vh;
  margin-top: 3vh;
  margin-bottom: 10vh;
}

li {
  text-align: start;
}
